@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

#header-restaurant-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: white;
    z-index: 1000;
    transition: .5s;
}

#header-restaurant-menu.rolagem {
    background-color: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(5px);
}

#header-restaurant-menu #restaurant-logo {
    margin-left: 10%;
}

#header-restaurant-menu #menu-sections {
    right: 50%;
    transform: translate(30%);
}

#header-restaurant-menu #menu-sections a {
    margin: 0 20px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    padding: 0 10px;
    color: #2b2b2b;
    position: relative;
}

#header-restaurant-menu #menu-sections a:hover{
}

#header-restaurant-menu #menu-sections a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #2b2b2b;
    transition: all .5s;
}

#header-restaurant-menu #menu-sections a:hover::before {
    width: 100%;
}


#header-restaurant-menu #header-button-contact {
    margin-right: -15%;
}

#header-restaurant-menu #header-button-contact .contact-us-button {
    background-color: #2b2b2b;
    color: white;
    width: 140px;
    height: 30px;
    font-weight: 400;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s;
}

#header-restaurant-menu #header-button-contact .contact-us-button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#header-restaurant-menu #user-section {
    display: flex;
    align-items: center;
    margin-right: 50px;
    gap: 20px;
    text-decoration: none;
}

#header-restaurant-menu #user-section .username-text {
    cursor: pointer;
    text-decoration: none;
    color: #2b2b2b;
}

#background-menu-image {
    background-image: url(./assets/home-page-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 540px;
}

#expeciality-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-top: -12%;
}

#title-expeciality {
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

#expeciality-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}

#paragraph-expeciality {
    width: 580px;
    font-size: 20px;
    font-weight: 200;
    text-align: justify;
    margin-bottom: 50px;
    margin-right: 50%;
}

.slider {
    margin: 0 auto;
    width: 400px;
    overflow: hidden;
    margin-right: 20%;
    margin-top: -260px;
}

.slides {
    width: 400%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 400px;
}

.manual-navigation {
    width: 400px;
    position: relative;
    margin-top: -40px;
    margin-right: -52.3%;
    display: flex;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 30px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 400px;
    margin-top: 233.5px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 30px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}

footer {
    width: 100%;
    color: white;
    margin: 0;
    padding: 0;
}

.footer-link {
    text-decoration: none;
}

#footer-content {
  background-color: #2b2b2b;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
  margin: 0;
}

#footer-contents h1 {
    margin-bottom: 0.75rem;
}

#footer-social-media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5 rem;
}

#footer-social-media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer-social-media .footer-link i {
    font-size: 1.25rem;
}

#footer-social-media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9882);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: white;
}

.footer-list .footer-link:hover{
    color: #7f37c9;
}

#footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer-subscribe p{
    color: white;
}

#input-group {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
}

#input-group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input-group button {
    background-color: #2d2d2d;
    border: none;
    color: white;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

#input-group button:hover {
    opacity: 0.8s;
}

#footer-copyright {
    display: flex;
    justify-content: center;
    background-color: #2b2b2b;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    margin: 0;
}

.login-content-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.page-title img {
    margin-bottom: 30px;
}

.page-title h1 {
    font-size: 36px;
}

.email-form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 5%;
    flex-direction: column;
}

.password-form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 5%;
    flex-direction: column;
    margin-top: 35px;
}

.login-form-content {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-bottom: 20%;
}

.email-title{
    font-size: 20px;
}

.email-input {
    width: 560px;
    height: 35px;
    border-radius: 17.5px;
    box-shadow: 0 12px 8px rgba(0, 0, 0, 0.1); /* Adiciona a sombra */
    border-style: none;
}

.password-title {
    font-size: 20px;
}

.password-input {
    width: 560px;
    height: 35px;
    border-radius: 17.5px;
    box-shadow: 0 12px 8px rgba(0, 0, 0, 0.1); /* Adiciona a sombra */
    border-style: none;
    padding-left: 15px;
}

.email-input::placeholder {
    font-size: 16px;
    display: flex;
    padding-left: 15px;
}

.password-input::placeholder {
    font-size: 16px;
    display: flex;
    padding-left: 15px;
}

.login-btn {
    width: 242px;
    height: 60px;
    font-size: 32px;
    font-weight: bold;
    border-radius: 30px;
    border-style: none;
    background-color: #000000;
    color: white;
    margin-left: 50%;
    margin-top: 10%;
    transform: translate(-50%);
}

.background-login {
    position: absolute;
    background-image: url(./assets/login-register-page-image.png);
    width: 50%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50%;
    top: 0%;
}

.register-text-section {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    color: #2b2b2b;
}

.register-text {
    color: #2b2b2b;
    font-weight: 300;
}

.register-link {
    color: #2b2b2b;
    cursor: pointer;
}



@media screen and (max-width: 768px) {

    #background-menu-image {
        background-repeat: no-repeat;
        background-size: fill;
        background-position: center center;
        width: 100%;
    }

    #title-expeciality {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #expeciality-section {
        display: flex;
        width: 100%;
    }

    #paragraph-expeciality {
        width: 100%;
        padding: 50px;
    }

    #footer-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    } 
}

@media screen and (max-width: 426px) {
    #footer-content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    } 
}

